<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ds.factory.datasource.mappers.Manufacture_DesignMapper" >

    <resultMap id="BaseResultMap" type="com.ds.factory.datasource.entities.Manufacture_Design" >
            <id column="Manufacture_no" jdbcType="VARCHAR" property="Manufacture_no" />
            <result column="Order_no_details" jdbcType="VARCHAR" property="Order_no_details" />
            <result column="Staff_no_design" jdbcType="VARCHAR" property="Staff_no_design" />
            <result column="Deadline" jdbcType="TIMESTAMP" property="Deadline" />
            <result column="Progress" jdbcType="VARCHAR" property="Progress" />
            <result column="Raw_materials_requirement" jdbcType="VARCHAR" property="Raw_materials_requirement" />
            <result column="Workshop" jdbcType="VARCHAR" property="Workshop" />
            <result column="Stock_no_products" jdbcType="VARCHAR" property="Stock_no_products" />
            <result column="Products_requirement" jdbcType="VARCHAR" property="Products_requirement" />
            <result column="Details" jdbcType="VARCHAR" property="Details" />
            <result column="Update_date" jdbcType="TIMESTAMP" property="Update_date" />
    </resultMap>

    <select id="exist_or_not"  resultType="java.lang.Integer">
        SELECT count(*) FROM Manufacture_Design WHERE Manufacture_no = #{Manufacture_no}
    </select>

    <select id="count_sum"  resultType="java.lang.Integer">
            SELECT count(*) FROM Manufacture_Design WHERE flag=0 and to_days(Update_date) = to_days(now())
    </select>

    <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
    </sql>


    <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
    </sql>


    <sql id="Base_Column_List">
        Manufacture_no,         Order_no_details,       Staff_no_design,
        Deadline,               Progress,               Raw_materials_requirement,
        Products_requirement,   Product_no,             Workshop,       Details
    </sql>



    <select id="existByDate_Product_no"  resultType="java.lang.Integer">
        SELECT count(*)
        FROM Manufacture_Design
        WHERE Product_no = #{Product_no} and to_days(Deadline) = to_days(#{Deadline,jdbcType=TIMESTAMP}) and flag=0
    </select>


    <select id="selectByDate_Product_no"  resultMap="BaseResultMap">
            SELECT *
            FROM Manufacture_Design
            WHERE Product_no = #{Product_no} and to_days(Deadline) = to_days(#{Deadline,jdbcType=TIMESTAMP}) and flag=0
        </select>


    <select id="selectByExample" parameterType="com.ds.factory.dao.Example.Manufacture_DesignExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Manufacture_Design
    <if test="_parameter != null">
        <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
        order by ${orderByClause}
    </if>
    </select>


    <select id="select_Biggest_Manufacture_no"  resultType="java.lang.String">
        select Manufacture_no
        from Manufacture_Design
        order by Manufacture_no desc
        limit 1
    </select>


    <select id="countByExample" parameterType="com.ds.factory.dao.Example.Manufacture_DesignExample" resultType="java.lang.Integer">
    select count(*) from Manufacture_Design where flag=0
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from Manufacture_Design
    where Manufacture_no = #{Manufacture_no,jdbcType=VARCHAR} and flag=0
    </select>


    <select id="selectByConstraint" resultMap="BaseResultMap">
          select *
          from Manufacture_Design
          where  Manufacture_no like '%${Manufacture_no}%'
                and Staff_no_design like '%${Staff_no_design}%' and Order_no_details like '%${Order_no_details}%'
                and Product_no like '%${Product_no}%' and Workshop like '%${Workshop}%' and flag=0
          order by Update_date desc
    </select>

    <select id="selectByConstraint_today" resultMap="BaseResultMap">
          select *
          from Manufacture_Design
          where  Manufacture_no like '%${Manufacture_no}%'
                and Staff_no_design like '%${Staff_no_design}%' and Order_no_details like '%${Order_no_details}%'
                and Product_no like '%${Product_no}%' and Workshop like '%${Workshop}%' and flag=0
                and to_days(Update_date) = to_days(#{Update_date,jdbcType=TIMESTAMP})
          order by Update_date desc
    </select>





    <select id="selectByStaff_no_Design" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from Manufacture_Design
    where Staff_no_design = #{Staff_no_design,jdbcType=VARCHAR} and flag=0
    </select>


    <select id="selectByWorkshop" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from Manufacture_Design
    where Workshop = #{Workshop,jdbcType=VARCHAR} and flag=0
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
    select *
    from Manufacture_Design
    where flag=0
    </select>

    <select id="selectByOrder_no" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from Manufacture_Design
    where Order_no_details like '${part}%' and flag=0
    </select>

    <select id="selectByOrder_no_details" resultMap="BaseResultMap">
    select *
    from Manufacture_Design
    where Order_no_details = #{Order_no_details,jdbcType=VARCHAR} and flag=0
    </select>





    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    update Manufacture_Design
    set flag=1
    where Manufacture_no = #{Manufacture_no,jdbcType=VARCHAR}
    </delete>


    <delete id="deleteByExample" parameterType="com.ds.factory.dao.Example.Manufacture_DesignExample">
    delete from Manufacture_Design
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    </delete>


    <insert id="insert" parameterType="com.ds.factory.datasource.entities.Manufacture_Design">
    insert
    into Manufacture_Design (Manufacture_no,         Order_no_details,       Staff_no_design,
                             Deadline,               Progress,               Raw_materials_requirement,
                             Products_requirement,   Product_no,             Workshop,       Details)
    values (#{Manufacture_no,jdbcType=VARCHAR},             #{Order_no_details,jdbcType=VARCHAR},
            #{Staff_no_design,jdbcType=VARCHAR},            #{Deadline,jdbcType=TIMESTAMP},
            #{Progress,jdbcType=VARCHAR},                   #{Raw_materials_requirement,jdbcType=VARCHAR},
            #{Products_requirement,jdbcType=VARCHAR},       #{Product_no,jdbcType=VARCHAR},
            #{Workshop,jdbcType=VARCHAR},                   #{Details,jdbcType=VARCHAR})
    </insert>


    <insert id="insertSelective" parameterType="com.ds.factory.datasource.entities.Manufacture_Design">
    insert into Manufacture_Design
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="Manufacture_no != null">
        Manufacture_no,
        </if>
        <if test="Order_no_details != null">
        Order_no_details,
        </if>
        <if test="Staff_no_design != null">
        Staff_no_design,
        </if>
        <if test="Deadline != null">
        Deadline,
        </if>
        <if test="Progress != null">
        Progress,
        </if>

        <if test="Raw_materials_requirement != null">
        Raw_materials_requirement,
        </if>
        <if test="Products_requirement != null">
        Products_requirement,
        </if>
        <if test="Product_no != null">
          Product_no,
        </if>
        <if test="Workshop != null">
          Workshop,
        </if>
        <if test="Details != null">
          Details,
        </if>
    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="Manufacture_no != null">
        #{Manufacture_no,jdbcType=VARCHAR},
        </if>
        <if test="Order_no_details != null">
        #{Order_no_details,jdbcType=VARCHAR},
        </if>
        <if test="Staff_no_design != null">
        #{Staff_no_design,jdbcType=VARCHAR},
        </if>
        <if test="Deadline != null">
        #{Deadline,jdbcType=TIMESTAMP},
        </if>
        <if test="Progress != null">
        #{Progress,jdbcType=VARCHAR},
        </if>

        <if test="Raw_materials_requirement != null">
        #{Raw_materials_requirement,jdbcType=VARCHAR},
        </if>
        <if test="Products_requirement != null">
        #{Products_requirement,jdbcType=VARCHAR},
        </if>
        <if test="Product_no != null">
        #{Product_no,jdbcType=VARCHAR},
        </if>
        <if test="Workshop != null">
        #{Workshop,jdbcType=VARCHAR},
        </if>
        <if test="Details != null">
        #{Details,jdbcType=VARCHAR},
        </if>
    </trim>

    </insert>



    <update id="updateByExampleSelective" parameterType="map">
    update Manufacture_Design
    <set>
    <if test="record.Manufacture_no != null">
    Manufacture_no = #{record.Manufacture_no,jdbcType=VARCHAR},
    </if>
    <if test="record.Order_no_details != null">
    Order_no_details = #{record.Order_no_details,jdbcType=VARCHAR},
    </if>
    <if test="record.Staff_no_design != null">
    Staff_no_design = #{record.Staff_no_design,jdbcType=VARCHAR},
    </if>
    <if test="record.Deadline != null">
    Deadline = #{record.Deadline,jdbcType=TIMESTAMP},
    </if>
    <if test="record.Progress != null">
    Progress = #{record.Progress,jdbcType=VARCHAR},
    </if>


    <if test="record.Raw_materials_requirement != null">
      Raw_materials_requirement = #{record.Raw_materials_requirement,jdbcType=VARCHAR},
    </if>
    <if test="record.Products_requirement != null">
      Products_requirement = #{record.Products_requirement,jdbcType=VARCHAR},
    </if>
    <if test="record.Product_no != null">
      Product_no = #{record.Product_no,jdbcType=VARCHAR},
    </if>
    <if test="record.Workshop != null">
      Workshop = #{record.Workshop,jdbcType=VARCHAR},
    </if>
    <if test="record.Details != null">
      Details = #{record.Details,jdbcType=VARCHAR},
    </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    </update>


    <update id="updateByExample" parameterType="map">
    update Manufacture_Design
    set Manufacture_no = #{record.Manufacture_no,jdbcType=VARCHAR},
        Order_no_details = #{record.Order_no_details,jdbcType=VARCHAR},
        Staff_no_design = #{record.Staff_no_design,jdbcType=VARCHAR},
        Deadline = #{record.Deadline,jdbcType=TIMESTAMP},
        Progress = #{record.Progress,jdbcType=VARCHAR},
        Raw_materials_requirement = #{record.Raw_materials_requirement,jdbcType=VARCHAR},
        Products_requirement = #{record.Products_requirement,jdbcType=VARCHAR},
        Product_no = #{record.Product_no,jdbcType=VARCHAR},
        Workshop = #{record.Workshop,jdbcType=VARCHAR},
        Details = #{record.Details,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    </update>


    <update id="updateByPrimaryKeySelective" parameterType="com.ds.factory.datasource.entities.Manufacture_Design">
    update Manufacture_Design
    <set>
        <if test="Manufacture_no != null">
        Manufacture_no = #{Manufacture_no,jdbcType=VARCHAR},
        </if>
        <if test="Order_no_details != null">
        Order_no_details = #{Order_no_details,jdbcType=VARCHAR},
        </if>
        <if test="Staff_no_design != null">
        Staff_no_design = #{Staff_no_design,jdbcType=VARCHAR},
        </if>
        <if test="Deadline != null">
        Deadline = #{Deadline,jdbcType=TIMESTAMP},
        </if>
        <if test="Progress != null">
        Progress = #{Progress,jdbcType=VARCHAR},
        </if>

        <if test="Raw_materials_requirement != null">
        Raw_materials_requirement = #{Raw_materials_requirement,jdbcType=VARCHAR},
        </if>
        <if test="Products_requirement != null">
        Products_requirement = #{Products_requirement,jdbcType=VARCHAR},
        </if>
        <if test="Product_no != null">
        Product_no = #{Product_no,jdbcType=VARCHAR},
        </if>
        <if test="Workshop != null">
        Workshop = #{Workshop,jdbcType=VARCHAR},
        </if>
        <if test="Details != null">
        Details = #{Details,jdbcType=VARCHAR},
        </if>
    </set>
    where Manufacture_no = #{Manufacture_no,jdbcType=VARCHAR}
    </update>


    <update id="updateByPrimaryKey" parameterType="com.ds.factory.datasource.entities.Manufacture_Design">
    update Manufacture_Design
    set Manufacture_no = #{Manufacture_no,jdbcType=VARCHAR},
        Order_no_details = #{Order_no_details,jdbcType=VARCHAR},
        Staff_no_design = #{Staff_no_design,jdbcType=VARCHAR},
        Deadline = #{Deadline,jdbcType=TIMESTAMP},
        Progress = #{Progress,jdbcType=VARCHAR},
        Raw_materials_requirement = #{Raw_materials_requirement,jdbcType=VARCHAR},
        Products_requirement = #{Products_requirement,jdbcType=VARCHAR},
        Product_no = #{Product_no,jdbcType=VARCHAR},
        Workshop = #{Workshop,jdbcType=VARCHAR},
        Details = #{Details,jdbcType=VARCHAR}
    where Manufacture_no = #{Manufacture_no,jdbcType=VARCHAR}
    </update>
</mapper>
