<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ds.factory.datasource.mappers.Order_FormMapper" >

    <resultMap id="BaseResultMap" type="com.ds.factory.datasource.entities.Order_Form" >
            <id column="Order_no" jdbcType="VARCHAR" property="Order_no" />
            <result column="Client_no" jdbcType="VARCHAR" property="Client_no" />
            <result column="Staff_no" jdbcType="VARCHAR" property="Staff_no" />
            <result column="Order_Create_date" jdbcType="TIMESTAMP" property="Order_Create_date" />
            <result column="Order_sum_amount" jdbcType="BIGINT" property="Order_sum_amount" />
            <result column="Progress" jdbcType="VARCHAR" property="Progress" />
            <result column="Liquidated_damages" jdbcType="BIGINT" property="Liquidated_damages" />
            <result column="Check" jdbcType="BIGINT" property="Check" />
            <result column="Update_date" jdbcType="TIMESTAMP" property="Update_date" />
    </resultMap>

    <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
    </sql>


    <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
    </sql>

    <select id="exist_or_not"  resultType="java.lang.Integer">
            SELECT count(*) FROM Order_Form WHERE Order_no = #{Order_no}
    </select>



    <sql id="Base_Column_List">
    Order_no,           Client_no,      Staff_no,               Order_Create_date,
    Order_sum_amount,   Progress,       Liquidated_damages,     Check
    </sql>

    <select id="selectByExample" parameterType="com.ds.factory.dao.Example.Order_FormExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
          distinct
        </if>
        <include refid="Base_Column_List" />
        from Order_Form
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>


    <select id="count_sum_accountant"  resultType="java.lang.Integer">
            SELECT count(*)
            FROM Order_Form
            WHERE flag=0 and to_days(Update_date) = to_days(now())
            and Progress in ('销售员接单','会计初审完成','预付款提交成功','生产计划与车间工作中','售后服务')
    </select>

    <select id="count_sum_salesman"  resultType="java.lang.Integer">
            SELECT count(*)
            FROM Order_Form
            WHERE flag=0 and to_days(Update_date) = to_days(now())
            and Progress in ('客户提交成功','审查结果拒绝接单','预付款提交成功','尾款缴纳成功','客户收货成功','售后服务','违约金商谈阶段','退款商谈阶段')
    </select>



    <select id="selectByConstraint_disabled" resultMap="BaseResultMap">
          select *
          from Order_Form
          where  flag=0 and Order_no like '%${Order_no}%' and Client_no like '%${Client_no}%'
                and Staff_no like '%${Staff_no}%' and  Order_Form.`Check` = 1
          order by Update_date desc,Order_Create_date desc
    </select>

    <select id="selectByConstraint_enabled" resultMap="BaseResultMap">
        select *
        from Order_Form
        where  flag=0 and Order_no like '%${Order_no}%' and Client_no like '%${Client_no}%'
              and Staff_no like '%${Staff_no}%' and  Order_Form.`Check` = 0
        order by Update_date desc,Order_Create_date desc
    </select>

    <select id="selectByConstraint_all" resultMap="BaseResultMap">
        select *
        from Order_Form
        where  flag=0 and Order_no like '%${Order_no}%' and Client_no like '%${Client_no}%'
              and Staff_no like '%${Staff_no}%'
        order by Update_date desc,Order_Create_date desc
    </select>





    <select id="getAllOrder" resultMap="BaseResultMap">
        select *
        from Order_Form
        where flag=0
        order by Order_no asc
    </select>

     <select id="selectByClient_no" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from Order_Form
        where Client_no = #{Client_no} and flag=0
        order by Order_no asc
     </select>

     <select id="selectByStaff_no" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from Order_Form
        where Staff_no = #{Staff_no} and flag=0
        order by Order_no asc
     </select>

     <select id="selectByProgress_Type" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from Order_Form
        where Progress = #{Progress} and flag=0
        order by Order_no asc
     </select>


     <select id="orderByDate" resultMap="BaseResultMap">
        select *
        from Order_Form
        where flag=0
        order by Order_Create_date desc
     </select>

     <select id="orderBySum_amount" resultMap="BaseResultMap">
        select *
        from Order_Form
        where flag=0
        order by Order_sum_amount desc
     </select>



    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from Order_Form
        where Order_no = #{Order_no} and flag=0
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        update Order_Form
        set flag=1
        where Order_no = #{Order_no,jdbcType=VARCHAR}
    </delete>


    <delete id="deleteByExample" parameterType="com.ds.factory.dao.Example.Order_FormExample">
        delete from Order_Form
        <if test="_parameter != null">
          <include refid="Example_Where_Clause" />
        </if>
    </delete>



    <insert id="insert" parameterType="com.ds.factory.datasource.entities.Order_Form">
    insert
    into Order_Form (Order_no,              Client_no,      Staff_no,               Order_Create_date,
                     Order_sum_amount,      Progress,       Liquidated_damages,     `Check`)
    values (#{Order_no,jdbcType=VARCHAR},               #{Client_no,jdbcType=VARCHAR},
            #{Staff_no,jdbcType=VARCHAR},               #{Order_Create_date,jdbcType=TIMESTAMP},
            #{Order_sum_amount,jdbcType=BIGINT},        #{Progress,jdbcType=VARCHAR},
            #{Liquidated_damages,jdbcType=BIGINT},      #{Check,jdbcType=BIGINT})
    </insert>


    <insert id="insertSelective" parameterType="com.ds.factory.datasource.entities.Order_Form">
    insert into Order_Form
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="Order_no != null">
        Order_no,
      </if>
      <if test="Client_no != null">
        Client_no,
      </if>
      <if test="Staff_no != null">
        Staff_no,
      </if>
      <if test="Order_Create_date != null">
        Order_Create_date,
      </if>
      <if test="Order_sum_amount != null">
        Order_sum_amount,
      </if>
      <if test="Progress != null">
        Progress,
      </if>
      <if test="Liquidated_damages != null">
        Liquidated_damages,
      </if>
      <if test="Check != null">
        `Check`,
      </if>
    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="Order_no != null">
        #{Order_no,jdbcType=VARCHAR},
      </if>
      <if test="Client_no != null">
        #{Client_no,jdbcType=VARCHAR},
      </if>
      <if test="Staff_no != null">
        #{Staff_no,jdbcType=VARCHAR},
      </if>
      <if test="Order_Create_date != null">
        #{Order_Create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="Order_sum_amount != null">
        #{Order_sum_amount,jdbcType=BIGINT},
      </if>
      <if test="Progress != null">
        #{Progress,jdbcType=VARCHAR},
      </if>
      <if test="Liquidated_damages != null">
        #{Liquidated_damages,jdbcType=BIGINT},
      </if>
      <if test="Check != null">
        #{Check,jdbcType=BIGINT},
      </if>
    </trim>

    </insert>



    <select id="countByExample" parameterType="com.ds.factory.dao.Example.Order_FormExample" resultType="java.lang.Integer">
    select count(*) from Order_Form
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    </select>


    <update id="updateByExampleSelective" parameterType="map">
    update Order_Form
    <set>
      <if test="record.Order_no != null">
        Order_no = #{record.Order_no,jdbcType=VARCHAR},
      </if>
      <if test="record.Client_no != null">
        Client_no = #{record.Client_no,jdbcType=VARCHAR},
      </if>
      <if test="record.Staff_no != null">
        Staff_no = #{record.Staff_no,jdbcType=VARCHAR},
      </if>
      <if test="record.Order_Create_date != null">
        Order_Create_date = #{record.Order_Create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.Order_sum_amount != null">
        Order_sum_amount = #{record.Order_sum_amount,jdbcType=BIGINT},
      </if>
      <if test="record.Progress != null">
        Progress = #{record.Progress,jdbcType=VARCHAR},
      </if>
      <if test="record.Liquidated_damages != null">
        Liquidated_damages = #{record.Liquidated_damages,jdbcType=BIGINT},
      </if>
      <if test="record.Check != null">
        Order_Form.`Check` = #{record.Check,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    </update>


    <select id="select_Biggest_Order_no"  resultType="java.lang.String">
        select Order_no
        from Order_Form
        order by Order_no desc
        limit 1
    </select>


    <update id="updateByExample" parameterType="map">
    update Order_Form
    set Order_no = #{record.Order_no,jdbcType=VARCHAR},
        Client_no = #{record.Client_no,jdbcType=VARCHAR},
        Staff_no = #{record.Staff_no,jdbcType=VARCHAR},
        Order_Create_date = #{record.Order_Create_date,jdbcType=TIMESTAMP},
        Order_sum_amount = #{record.Order_sum_amount,jdbcType=BIGINT},
        Progress = #{record.Progress,jdbcType=VARCHAR},
        Liquidated_damages = #{record.Liquidated_damages,jdbcType=BIGINT},
        Order_Form.`Check` = #{record.Check,jdbcType=BIGINT}

    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    </update>


    <update id="updateByPrimaryKeySelective" parameterType="com.ds.factory.datasource.entities.Order_Form">
    update Order_Form
    <set>
        <if test="Order_no != null">
          Order_no = #{Order_no,jdbcType=VARCHAR},
        </if>
        <if test="Client_no != null">
          Client_no = #{Client_no,jdbcType=VARCHAR},
        </if>
        <if test="Staff_no != null">
          Staff_no = #{Staff_no,jdbcType=VARCHAR},
        </if>
        <if test="Order_Create_date != null">
          Order_Create_date = #{Order_Create_date,jdbcType=TIMESTAMP},
        </if>
        <if test="Order_sum_amount != null">
          Order_sum_amount = #{Order_sum_amount,jdbcType=BIGINT},
        </if>
        <if test="Progress != null">
          Progress = #{Progress,jdbcType=VARCHAR},
        </if>
        <if test="Liquidated_damages != null">
          Liquidated_damages = #{Liquidated_damages,jdbcType=BIGINT},
        </if>
        <if test="Check != null">
          Order_Form.`Check` = #{Check,jdbcType=BIGINT},
        </if>
    </set>
    where Order_no = #{Order_no,jdbcType=VARCHAR}
    </update>


    <update id="updateByPrimaryKey" parameterType="com.ds.factory.datasource.entities.Order_Form">
    update Staff
    set Order_no = #{Order_no,jdbcType=VARCHAR},
        Client_no = #{Client_no,jdbcType=VARCHAR},
        Staff_no = #{Staff_no,jdbcType=VARCHAR},
        Order_Create_date = #{Order_Create_date,jdbcType=TIMESTAMP},
        Order_sum_amount = #{Order_sum_amount,jdbcType=BIGINT},
        Progress = #{Progress,jdbcType=VARCHAR},
        Liquidated_damages = #{Liquidated_damages,jdbcType=BIGINT},
        Order_Form.`Check` = #{Check,jdbcType=BIGINT}
    where Order_no = #{Order_no,jdbcType=VARCHAR}
    </update>

</mapper>
