<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ds.factory.datasource.mappers.Product_CriteriaMapper" >

    <resultMap id="BaseResultMap" type="com.ds.factory.datasource.entities.Product_Criteria" >
            <id column="Product_no" jdbcType="VARCHAR" property="Product_no" />
            <result column="Product_name" jdbcType="VARCHAR" property="Product_name" />
            <result column="Product_type" jdbcType="VARCHAR" property="Product_type" />
            <result column="Ingredient_List" jdbcType="VARCHAR" property="Ingredient_List" />
            <result column="Manufacture_duration" jdbcType="VARCHAR" property="Manufacture_duration" />
            <result column="Guarantee_period" jdbcType="VARCHAR" property="Guarantee_period" />
            <result column="Unit_Price" jdbcType="BIGINT" property="Unit_Price" />
    </resultMap>

<select id="count_sum"  resultType="java.lang.Integer">
            SELECT count(*) FROM Product_Criteria WHERE flag=0
    </select>


    <select id="exist_or_not"  resultType="java.lang.Integer">
            SELECT count(*) FROM Product_Criteria WHERE Product_no = #{Product_no}
    </select>

    <select id="exist_or_notByName"  resultType="java.lang.Integer">
                 SELECT count(*) FROM Product_Criteria WHERE Product_name = #{Product_name}
         </select>

    <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
    </sql>


    <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
    </sql>


    <sql id="Base_Column_List">
    Product_no,         Product_name,               Product_type,
    Ingredient_List,    Manufacture_duration,       Guarantee_period,       Unit_Price
    </sql>


    <select id="selectByConstraint" resultMap="BaseResultMap">
          select *
          from Product_Criteria
          where  flag=0  and Product_no like '%${Product_no}%'
                and Product_name like '%${Product_name}%'  and Product_type like '%${Product_type}%'
    </select>


    <select id="selectByExample" parameterType="com.ds.factory.dao.Example.Product_CriteriaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Product_Criteria
    where flag=0
    <if test="_parameter != null">
        <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
        order by ${orderByClause}
    </if>
    </select>


    <select id="selectAll" resultMap="BaseResultMap">
      select *
      from Product_Criteria
      where flag=0
      order by Product_no asc
    </select>




    <select id="select_Biggest_Product_no"  resultType="java.lang.String">
        select Product_no
        from Product_Criteria
        order by Product_no desc
        limit 1
    </select>

    <select id="selectByProduct_name" parameterType="java.lang.String" resultMap="BaseResultMap">
      select *
      from Product_Criteria
      where Product_name = #{Product_name,jdbcType=VARCHAR} and flag=0
    </select>




  <select id="countByExample" parameterType="com.ds.factory.dao.Example.Product_CriteriaExample" resultType="java.lang.Integer">
    select count(*) from Product_Criteria where flag=0
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from Product_Criteria
    where Product_no = #{Product_no,jdbcType=VARCHAR} and flag=0
  </select>







  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    update Product_Criteria
    set flag=1
    where Product_no = #{Product_no,jdbcType=VARCHAR}
  </delete>


  <delete id="deleteByExample" parameterType="com.ds.factory.dao.Example.Product_CriteriaExample">
    delete from Product_Criteria
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>


  <insert id="insert" parameterType="com.ds.factory.datasource.entities.Product_Criteria">
    insert
    into Product_Criteria (Product_no,         Product_name,               Product_type,
                           Ingredient_List,    Manufacture_duration,       Guarantee_period,    Unit_Price)
    values (#{Product_no,jdbcType=VARCHAR},                 #{Product_name,jdbcType=VARCHAR},
            #{Product_type,jdbcType=VARCHAR},               #{Ingredient_List,jdbcType=VARCHAR},
            #{Manufacture_duration,jdbcType=VARCHAR},       #{Guarantee_period,jdbcType=VARCHAR},
            #{Unit_Price,jdbcType=BIGINT})
  </insert>


  <insert id="insertSelective" parameterType="com.ds.factory.datasource.entities.Product_Criteria">
    insert into Product_Criteria
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="Product_no != null">
        Product_no,
      </if>
      <if test="Product_name != null">
        Product_name,
      </if>
      <if test="Product_type != null">
        Product_type,
      </if>
      <if test="Ingredient_List != null">
        Ingredient_List,
      </if>
      <if test="Manufacture_duration != null">
        Manufacture_duration,
      </if>
      <if test="Guarantee_period != null">
        Guarantee_period,
      </if>
      <if test="Unit_Price != null">
        Unit_Price,
      </if>
    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="Product_no != null">
        #{Product_no,jdbcType=VARCHAR},
      </if>
      <if test="Product_name != null">
        #{Product_name,jdbcType=VARCHAR},
      </if>
      <if test="Product_type != null">
        #{Product_type,jdbcType=VARCHAR},
      </if>
      <if test="Ingredient_List != null">
        #{Ingredient_List,jdbcType=VARCHAR},
      </if>
      <if test="Manufacture_duration != null">
        #{Manufacture_duration,jdbcType=VARCHAR},
      </if>
      <if test="Guarantee_period != null">
        #{Guarantee_period,jdbcType=VARCHAR},
      </if>
      <if test="Unit_Price != null">
        #{Unit_Price,jdbcType=BIGINT},
      </if>
    </trim>

  </insert>



  <update id="updateByExampleSelective" parameterType="map">
    update Product_Criteria
    <set>
      <if test="record.Product_no != null">
        Product_no = #{record.Product_no,jdbcType=VARCHAR},
      </if>
      <if test="record.Product_name != null">
        Product_name = #{record.Product_name,jdbcType=VARCHAR},
      </if>
      <if test="record.Product_type != null">
        Product_type = #{record.Product_type,jdbcType=VARCHAR},
      </if>
      <if test="record.Ingredient_List != null">
        Ingredient_List = #{record.Ingredient_List,jdbcType=VARCHAR},
      </if>
      <if test="record.Manufacture_duration != null">
        Manufacture_duration = #{record.Manufacture_duration,jdbcType=VARCHAR},
      </if>
      <if test="record.Guarantee_period != null">
        Guarantee_period = #{record.Guarantee_period,jdbcType=VARCHAR},
      </if>
      <if test="record.Unit_Price != null">
      Unit_Price = #{record.Unit_Price,jdbcType=BIGINT},
    </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>


  <update id="updateByExample" parameterType="map">
    update Product_Criteria
    set Product_no = #{record.Product_no,jdbcType=VARCHAR},
        Product_name = #{record.Product_name,jdbcType=VARCHAR},
        Product_type = #{record.Product_type,jdbcType=VARCHAR},
        Ingredient_List = #{record.Ingredient_List,jdbcType=VARCHAR},
        Manufacture_duration = #{record.Manufacture_duration,jdbcType=VARCHAR},
        Guarantee_period = #{record.Guarantee_period,jdbcType=VARCHAR},
        Unit_Price = #{record.Unit_Price,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>


  <update id="updateByPrimaryKeySelective" parameterType="com.ds.factory.datasource.entities.Product_Criteria">
    update Product_Criteria
    <set>
      <if test="Product_no != null">
        Product_no = #{Product_no,jdbcType=VARCHAR},
      </if>
      <if test="Product_name != null">
        Product_name = #{Product_name,jdbcType=VARCHAR},
      </if>
      <if test="Product_type != null">
        Product_type = #{Product_type,jdbcType=VARCHAR},
      </if>
      <if test="Ingredient_List != null">
        Ingredient_List = #{Ingredient_List,jdbcType=VARCHAR},
      </if>
      <if test="Manufacture_duration != null">
        Manufacture_duration = #{Manufacture_duration,jdbcType=VARCHAR},
      </if>
      <if test="Guarantee_period != null">
        Guarantee_period = #{Guarantee_period,jdbcType=VARCHAR},
      </if>
      <if test="Unit_Price != null">
      Unit_Price = #{Unit_Price,jdbcType=BIGINT},
    </if>
    </set>
    where Product_no = #{Product_no,jdbcType=VARCHAR}
  </update>


  <update id="updateByPrimaryKey" parameterType="com.ds.factory.datasource.entities.Product_Criteria">
    update Product_Criteria
    set Product_no = #{Product_no,jdbcType=VARCHAR},
        Product_name = #{Product_name,jdbcType=VARCHAR},
        Product_type = #{Product_type,jdbcType=VARCHAR},
        Ingredient_List = #{Ingredient_List,jdbcType=VARCHAR},
        Manufacture_duration = #{Manufacture_duration,jdbcType=VARCHAR},
        Guarantee_period = #{Guarantee_period,jdbcType=VARCHAR},
        Unit_Price = #{Unit_Price,jdbcType=BIGINT}
    where Product_no = #{Product_no,jdbcType=VARCHAR}
  </update>
</mapper>
