<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ds.factory.datasource.mappers.Raw_Materials_WarehouseMapper" >

    <resultMap id="BaseResultMap" type="com.ds.factory.datasource.entities.Raw_Materials_Warehouse" >
            <id column="Stock_no" jdbcType="VARCHAR" property="Stock_no" />
            <result column="Material_no" jdbcType="VARCHAR" property="Material_no" />
            <result column="Stock_num" jdbcType="VARCHAR" property="Stock_num" />
            <result column="Storage_address" jdbcType="VARCHAR" property="Storage_address" />
            <result column="Product_date" jdbcType="TIMESTAMP" property="Product_date" />
            <result column="Staff_no_storage" jdbcType="VARCHAR" property="Staff_no_storage" />
            <result column="Details" jdbcType="VARCHAR" property="Details" />
    </resultMap>

    <select id="exist_or_not"  resultType="java.lang.Integer">
            SELECT count(*) FROM Raw_Materials_Warehouse WHERE Stock_no = #{Stock_no}
    </select>

     <select id="count_sum"  resultType="java.lang.Integer">
                SELECT count(*) FROM Raw_Materials_Warehouse WHERE flag=0 and to_days(Product_date) = to_days(now())
        </select>

    <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
    </sql>


    <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
    </sql>


    <sql id="Base_Column_List">
    Stock_no,           Material_no,            Stock_num,      Storage_address,
    Product_date,       Staff_no_storage,       Details
    </sql>



    <select id="selectByExample" parameterType="com.ds.factory.dao.Example.Raw_Materials_WarehouseExample" resultMap="BaseResultMap">
      select
      <if test="distinct">
        distinct
      </if>
      <include refid="Base_Column_List" />
      from Raw_Materials_Warehouse
      where flag=0
      <if test="_parameter != null">
          <include refid="Example_Where_Clause" />
      </if>
      <if test="orderByClause != null">
          order by ${orderByClause}
      </if>
    </select>


    <select id="select_Biggest_Stock_no"  resultType="java.lang.String">
      select Stock_no
      from Raw_Materials_Warehouse
      order by Stock_no desc
      limit 1
    </select>






    <select id="all_data" resultMap="BaseResultMap">
      select *
      from Raw_Materials_Warehouse
      where  flag=0  and Stock_no like '%${Stock_no}%' and Material_no like '%${Material_no}%'
            and Storage_address like '%${Storage_address}%' and Staff_no_storage like '%${Staff_no_storage}%'
      order by Product_date desc
    </select>



    <select id="today_data" resultMap="BaseResultMap">
      select *
      from Raw_Materials_Warehouse
      where to_days(Product_date) = to_days(now()) and flag=0
            and Stock_no like '%${Stock_no}%' and Material_no like '%${Material_no}%'
            and Storage_address like '%${Storage_address}%' and Staff_no_storage like '%${Staff_no_storage}%'
      order by Product_date desc
    </select>

    <select id="this_week_data" resultMap="BaseResultMap">
      select *
      from Raw_Materials_Warehouse
      WHERE YEARWEEK(date_format(Product_date,'%Y-%m-%d')) = YEARWEEK(now()) and flag=0
            and Stock_no like '%${Stock_no}%' and Material_no like '%${Material_no}%'
            and Storage_address like '%${Storage_address}%' and Staff_no_storage like '%${Staff_no_storage}%'
                  order by Product_date desc
    </select>


    <select id="this_month_data" resultMap="BaseResultMap">
    select *
    from Raw_Materials_Warehouse
    WHERE DATE_FORMAT( Product_date, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ) and flag=0
          and Stock_no like '%${Stock_no}%' and Material_no like '%${Material_no}%'
           and Storage_address like '%${Storage_address}%' and Staff_no_storage like '%${Staff_no_storage}%'
                order by Product_date desc
    </select>


    <select id="this_season_data" resultMap="BaseResultMap">
      select *
      from Raw_Materials_Warehouse
      where QUARTER(Product_date)=QUARTER(NOW()) and flag=0
            and Stock_no like '%${Stock_no}%' and Material_no like '%${Material_no}%'
          and Storage_address like '%${Storage_address}%' and Staff_no_storage like '%${Staff_no_storage}%'
                  order by Product_date desc
    </select>


    <select id="this_year_data" resultMap="BaseResultMap">
      select *
      from Raw_Materials_Warehouse
      where YEAR(Product_date)=YEAR(NOW()) and flag=0
            and Stock_no like '%${Stock_no}%' and Material_no like '%${Material_no}%'
         and Storage_address like '%${Storage_address}%' and Staff_no_storage like '%${Staff_no_storage}%'
                  order by Product_date desc
    </select>











    <select id="orderByDate" resultMap="BaseResultMap">
      select *
      from Raw_Materials_Warehouse
      where flag=0
      order by Product_date desc
    </select>



    <select id="selectByMaterial_no" parameterType="java.lang.String" resultMap="BaseResultMap">
      select *
      from Raw_Materials_Warehouse
      where Material_no = #{Material_no,jdbcType=VARCHAR} and flag=0
    </select>

    <select id="selectByStaff_no_storage" parameterType="java.lang.String" resultMap="BaseResultMap">
      select *
      from Raw_Materials_Warehouse
      where Staff_no_storage = #{Staff_no_storage,jdbcType=VARCHAR} and flag=0
    </select>



    <select id="countByExample" parameterType="com.ds.factory.dao.Example.Raw_Materials_WarehouseExample" resultType="java.lang.Integer">
      select count(*) from Raw_Materials_Warehouse where flag=0
      <if test="_parameter != null">
        <include refid="Example_Where_Clause" />
      </if>
    </select>


    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from Raw_Materials_Warehouse
      where Stock_no = #{Stock_no,jdbcType=VARCHAR} and flag=0
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    update Raw_Materials_Warehouse
    set flag=1
    where Stock_no = #{Stock_no,jdbcType=VARCHAR}
    </delete>


    <delete id="deleteByExample" parameterType="com.ds.factory.dao.Example.Raw_Materials_WarehouseExample">
    delete from Raw_Materials_Warehouse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    </delete>




    <insert id="insert" parameterType="com.ds.factory.datasource.entities.Raw_Materials_Warehouse">
    insert
    into Raw_Materials_Warehouse  (Stock_no,           Material_no,            Stock_num,      Storage_address,
                                   Product_date,       Staff_no_storage,       Details)
    values (#{Stock_no,jdbcType=VARCHAR},                   #{Material_no,jdbcType=VARCHAR},
            #{Stock_num,jdbcType=VARCHAR},                  #{Storage_address,jdbcType=VARCHAR},
            #{Product_date,jdbcType=TIMESTAMP},             #{Staff_no_storage,jdbcType=VARCHAR},
            #{Details,jdbcType=BIGINT})
    </insert>


    <insert id="insertSelective" parameterType="com.ds.factory.datasource.entities.Raw_Materials_Warehouse">
    insert into Raw_Materials_Warehouse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="Stock_no != null">
        Stock_no,
      </if>
      <if test="Material_no != null">
        Material_no,
      </if>
      <if test="Stock_num != null">
        Stock_num,
      </if>
      <if test="Storage_address != null">
        Storage_address,
      </if>
      <if test="Product_date != null">
        Product_date,
      </if>
      <if test="Staff_no_storage != null">
        Staff_no_storage,
      </if>
      <if test="Details != null">
        Details,
      </if>
    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="Stock_no != null">
        #{Stock_no,jdbcType=VARCHAR},
      </if>
      <if test="Material_no != null">
        #{Material_no,jdbcType=VARCHAR},
      </if>
      <if test="Stock_num != null">
        #{Stock_num,jdbcType=VARCHAR},
      </if>
      <if test="Storage_address != null">
        #{Storage_address,jdbcType=VARCHAR},
      </if>
      <if test="Product_date != null">
        #{Product_date,jdbcType=TIMESTAMP},
      </if>
      <if test="Staff_no_storage != null">
          #{Staff_no_storage,jdbcType=VARCHAR},
      </if>
      <if test="Details != null">
         #{Details,jdbcType=VARCHAR},
      </if>
    </trim>

    </insert>







    <update id="updateByExampleSelective" parameterType="map">
    update Raw_Materials_Warehouse
    <set>
      <if test="record.Stock_no != null">
        Stock_no = #{record.Stock_no,jdbcType=VARCHAR},
      </if>
      <if test="record.Material_no != null">
        Material_no = #{record.Material_no,jdbcType=VARCHAR},
      </if>
      <if test="record.Stock_num != null">
        Stock_num = #{record.Stock_num,jdbcType=VARCHAR},
      </if>
      <if test="record.Storage_address != null">
        Storage_address = #{record.Storage_address,jdbcType=VARCHAR},
      </if>
      <if test="record.Product_date != null">
        Product_date = #{record.Product_date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.Staff_no_storage != null">
        Staff_no_storage = #{record.Staff_no_storage,jdbcType=VARCHAR},
      </if>
      <if test="record.Details != null">
      Details = #{record.Details,jdbcType=VARCHAR},
    </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    </update>


    <update id="updateByExample" parameterType="map">
    update Raw_Materials_Warehouse
    set Stock_no = #{record.Stock_no,jdbcType=VARCHAR},
        Material_no = #{record.Material_no,jdbcType=VARCHAR},
        Stock_num = #{record.Stock_num,jdbcType=VARCHAR},
        Storage_address = #{record.Storage_address,jdbcType=VARCHAR},
        Product_date = #{record.Product_date,jdbcType=TIMESTAMP},
        Staff_no_storage = #{record.Staff_no_storage,jdbcType=VARCHAR},
        Details = #{record.Details,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.ds.factory.datasource.entities.Raw_Materials_Warehouse">
    update Raw_Materials_Warehouse
    <set>
      <if test="Stock_no != null">
        Stock_no = #{Stock_no,jdbcType=VARCHAR},
      </if>
      <if test="Material_no != null">
        Material_no = #{Material_no,jdbcType=VARCHAR},
      </if>
      <if test="Stock_num != null">
        Stock_num = #{Stock_num,jdbcType=VARCHAR},
      </if>
      <if test="Storage_address != null">
        Storage_address = #{Storage_address,jdbcType=VARCHAR},
      </if>
      <if test="Product_date != null">
        Product_date = #{Product_date,jdbcType=TIMESTAMP},
      </if>
      <if test="Staff_no_storage != null">
        Staff_no_storage = #{Staff_no_storage,jdbcType=VARCHAR},
      </if>
      <if test="Details != null">
      Details = #{Details,jdbcType=VARCHAR},
    </if>
    </set>
    where Stock_no = #{Stock_no,jdbcType=VARCHAR}
    </update>


    <update id="updateByPrimaryKey" parameterType="com.ds.factory.datasource.entities.Raw_Materials_Warehouse">
    update Raw_Materials_Warehouse
    set Stock_no = #{Stock_no,jdbcType=VARCHAR},
        Material_no = #{Material_no,jdbcType=VARCHAR},
        Stock_num = #{Stock_num,jdbcType=VARCHAR},
        Storage_address = #{Storage_address,jdbcType=VARCHAR},
        Product_date = #{Product_date,jdbcType=TIMESTAMP},
        Staff_no_storage = #{Staff_no_storage,jdbcType=VARCHAR},
        Details = #{Details,jdbcType=VARCHAR}
    where Stock_no = #{Stock_no,jdbcType=VARCHAR}
    </update>


</mapper>
